__pycache__/
*.py[cod]
.venv/
venv/
env/
.env
.DS_Store
.streamlit/secrets.toml

dataset/train/*
dataset/validation/*
dataset/test/*
!dataset/train/.gitkeep
!dataset/validation/.gitkeep
!dataset/test/.gitkeep

models/*.h5
models/*.keras
models/*.pkl
!models/.gitkeep

reports/accuracy_graphs/*
reports/confusion_matrix/*
reports/predictions/*
!reports/accuracy_graphs/.gitkeep
!reports/confusion_matrix/.gitkeep
!reports/predictions/.gitkeep
